.cards {
    border-radius: 1rem;
    border: 1px solid transparent;
    color: white;

    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    width: 30rem;

    border-top-color: rgba(255, 255, 255, 0.5);
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: all 500ms ease-in-out;
    /* transform-origin: bottom; */
}

.backglass {
    background-color: rgba(225, 255, 255, 0.1);
}
.content-pro {
    height: 250px;
    width: 300px;
}
.content-pro .progress {
    height: 200px;
    width: 300px;
    background-color: rgba(225, 255, 255, 0);
    /* border-radius: 150px 150px 0 0; 
    border-left: 40px solid rgba(5, 21, 170, 0.3);
    border-top: 40px solid rgba(5, 21, 170, 0.3);
    border-right: 40px solid rgba(5, 21, 170, 0.3);*/
    /* border-bottom: 25px solid transparent; */
}

.content-pro .pro-1 {
    /* border: 40px solid rgba(34, 231, 34, 0.3); */
    border-bottom: none;
}

.progress .circle {
    border-radius: 150px 150px 0 0;
    width: 100%;
    height: 100%;
    /* transform: rotate(-135deg); */
}
.circle-1 {
    width: 100%;
    height: 100%;
    border-left: 40px solid rgba(34, 231, 34);
    border-top: 40px solid rgba(34, 231, 34);
    border-right: 40px solid rgba(34, 231, 34);
    transition: all 1s ease-in-out;
    transform-origin: bottom;
}

.circle-1:hover {
    transform: rotate(-0.5turn);
}

p strong {
    color: rgba(34, 231, 34);
}
.viewsOn {
    opacity: 1;
  }